* {
  font-family: "Roboto", "Montserrat";
  font-optical-sizing: auto;
  font-style: normal;
}

.color-font {
  color: rgba(0, 38, 98, 1);
}

.bg-nav {
  background: rgba(255, 255, 255, 1);
}

.bg-content {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.684896) 75.48%,
    rgba(197, 224, 247, 0.7) 95%
  );
}

.img-wrapper {
  position: relative;
}

.img-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    190deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 95%
  );
  pointer-events: none; /* Ensure the overlay does not block interactions */
}

.text-content-h1 {
  font-family: "Montserrat";
  color: rgba(0, 38, 98, 1);
  font-size: 25px;
  letter-spacing: 0.21000000298023224px;
  font-weight: 800;
  line-height: 24px;
}

.text-content-h2 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.text-content-h3 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: rgba(74, 80, 92, 1);
}

.p-6 {
  top: 78px;
  left: 1015px;
  padding: 64px 57px 64px 57px;
}

.mb-6 {
  margin-bottom: 60px;
}
.text-input {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.p-btn {
  padding: 10px 0px 10px 0px;
}

.text-stasiun {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  letter-spacing: 0.20000000298023224px;
}

.text-kota {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.20000000298023224px;
}

.btn-darkblue {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgba(0, 38, 98, 1);
  --bs-btn-border-color: rgba(0, 38, 98, 1);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(1, 29, 75);
  --bs-btn-hover-border-color: rgb(10, 47, 105);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(10, 47, 105);
  --bs-btn-active-border-color: rgb(10, 47, 105);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgba(0, 38, 98, 1);
  --bs-btn-disabled-border-color: rgba(0, 38, 98, 1);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  letter-spacing: 0.20000000298023224px;
}

.btn-blue {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgba(197, 224, 247, 1);
  --bs-btn-border-color: rgba(197, 224, 247, 1);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(170, 213, 251);
  --bs-btn-hover-border-color: rgb(170, 213, 251);
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(170, 213, 251);
  --bs-btn-active-border-color: rgb(170, 213, 251);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgba(197, 224, 247, 1);
  --bs-btn-disabled-border-color: rgba(197, 224, 247, 1);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  letter-spacing: 0.20000000298023224px;
}

.btn-login {
  padding-left: 26px;
  padding-right: 26px;
}

.btn-register {
  --bs-btn-color: rgba(0, 38, 98, 1);
  --bs-btn-bg: rgb(255, 255, 255);
  --bs-btn-border-color: rgba(0, 38, 98, 1);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(231, 226, 226);
  --bs-btn-hover-border-color: rgba(0, 38, 98, 1);
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: rgba(0, 38, 98, 1);
  --bs-btn-active-bg: rgb(255, 255, 255);
  --bs-btn-active-border-color: rgba(0, 38, 98, 1);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(255, 255, 255);
  --bs-btn-disabled-border-color: rgba(0, 38, 98, 1);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  letter-spacing: 0.20000000298023224px;
  padding-left: 26px;
  padding-right: 26px;
}

.hero {
  position: relative;
  height: 100vh;
  background: url("./assets/PictureKereta.png") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    190deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 180%
  );
}

.hero-content {
  background: rgba(255, 255, 255, 0.911);
}
.hero-content h1 {
  font-size: 3rem;
  margin: 0;
}

.text-hero {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  padding: 0px 40px 20px 40px;
}

/* Responsive */
.full-height {
  height: 100vh;
}

@media (max-width: 767.98px) {
  .p-6 {
    padding: 2rem;
  }

  .bg-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 992px) {
  .position-relative {
    display: none;
  }
  .img-wrapper img {
    display: none;
  }
  .btn-login {
    margin-bottom: 10px;
    padding-left: 37px;
    padding-right: 37px;
  }

  .mt-8 {
    margin-top: 60px;
  }
  .mt-9 {
    margin-top: -13px;
    margin-bottom: 3px;
  }
}

@media (min-width: 992px) {
  .img-wrapper {
    height: 100vh;
    overflow: hidden;
  }

  .img-wrapper img {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
}
